* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 2.5;
  text-align: center;
  background-color: white;
}

footer {
  background-color: #F0F0F0;
  font-size: 0.8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Meddon";
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.heading {
  font-family: "Meddon";
  font-size: 2rem;
  text-align: center;
}

.banner {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  z-index: 1;
  position: fixed;
  height: 10rem;
}

.main {
  padding-top: 10rem;
}

.mm {
  font-family: Meddon;
  font-size: 1rem;
  padding: 1rem;
}

.dwarfs {
   margin-top: 3rem;
}

.next {
  font-size: 1rem;
  color: black;
}

.parent-opts {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.typewriter-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 55% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

#logo {
  height: 95%;
  padding: 1rem;
  width: auto;
}

#first-dragon-img{
  width: 40rem;
  height: auto;
}

#cornfield-img {
  width: 40rem;
  height: auto;
}

#dwarf-img{
  height: 40rem;
  width: auto;
  margin-left: 20rem;
}

#dwarf-img-2{
  width: 40rem;
  height: auto;
}

#fairy-img {
  width: 50rem;
  height: auto;
  margin-left: 10rem;
}

#finalimg {
padding-top: 0;
height: 22rem;
width: auto;
padding-bottom: 3rem;
}

#final-note {
  padding-top: 11rem;
  color: #FF87CA;
  font-family: "Meddon";
  font-size: 2.4rem;
}

.opt1, .opt2, .opt3, .opt4, .opt5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE17B;
  line-height: 1.7rem;
  border-radius: 1rem;
  padding: 0.7rem;
  margin: 0.7rem;
  border: none;
  width: 200px;
  height: auto;
  min-height: 200px;
}

.opt1:hover, .opt2:hover, .opt3:hover, .opt4:hover, .opt5:hover {
  background-color: #A8DF8E;
  color: white;
  cursor: pointer;
}

#anchor1, #anchor2, #anchor3, #anchor4, #anchor5 {
  color: black;
  text-decoration: none;
}








